body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #f2f2f2;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    margin-right: 10px;
}


table input[type="text"], table input[type="number"] {
    width: 100%;  
    box-sizing: border-box; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.greyed {
    background-color: darkgrey;
    color: lightgrey;
}

.greyed .actions button {
    background-color: gray;
    color: white;
}

